/*/////////////////////////////////// GLOBAL CONTENT////////////////////////////////////////////////////////////////////////////*/
/*Her sørger jeg for at margin og padding blir nullstilt. Samtidig sentrerer jeg all contenten*/
* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  max-width: 100%;
  color: rgb(220,220,220);
}
/*Her henter jeg ut bakgrunnsbilde og sørger for at det dekker hele siden*/
body {
  background-image: url("bakgrunn.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: 110px 1fr 100px 100px;;
  grid-template-areas:
  "header"
  "main"
  "sideseksjon"
  "footer";
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/





/*////////////////////////////////////////////HER LIGGER ALL CSS TIL HEADEREN///////////////////////////////////////////////////////*/
/*SELVE HEADEREN*/
/*Her har jeg stilert headeren med forskjellige elementer, samnt laget flex i headeren*/
#mainheader {
  grid-area: header;
  background-color: #001E3C;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 15px;
  position: sticky;
  z-index: 2;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



/*LOGO I HEADEREN*/
/*Sørget for at logoen ikke blir større enn dette*/
.logoTop {
  max-width: 150px;
  max-height: 100px;
}



/*NAVELEMENTET*/
/*Sørget for at navelementene ligger riktig samt laget en flex til navelementene*/
#mainnav {
  margin-top: 1.5%;
  display: flex;
  justify-content: space-between;
  width: 50%;
  font-size: 2rem;
}



/*Sørget for at teksten er hvit og at det ikke er understrek på navelementene*/
#mainnav a {
  text-decoration: none;
  color: white;
}



/*Sørget for at flexen på navelementene følger størrelse på skjermen*/
#omOss {
  flex-grow: 1;
}

#sjekkVaret {
  flex-grow: 1;
}




/*////////////////////////////HER LIGGER ALL CSS TIL MAINCONTENT///////////////////////////////////////////////////////////////////////*/
/*MAINWRAPPEREN*/
/*Har gitt en bakgrunnsfarge og andre stileringer.*/
main {
  grid-area: main;
  background-color: rgba(0,30,60, 0.9);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  width: 60%;
  margin: auto;
  padding: 0;
  margin-bottom: 10px;
  margin-top: 100px;
}




/*SKIP TO MAIN ELEMENTET!!!*/
/*Sørget for at selve skip to main ikke syntes på skjermen og at den blir tabbet til først*/
.skipToMain {
  padding: 10px;
  background-color: rgba(255, 255, 255, 1);
  width: 150px;
  text-align: center;
  z-index: 10;
  /* plassering */
  opacity: 0.1;
  position: fixed;
  left: -300px;
}



/*BANNEREN*/
/*Sørget for at banneren ikke har noe padding*/
.bannerAeria{
  padding: 0;
}



/*HELE MAINARTIKKELEN*/
/*Sørget for at artikkelen har padding*/
.omDaily {
  padding: 10px;
}



/*MAIN ARTIKKELHEADER*/
/*Sørget for at tekststørrelsen er 3*foreldreelementet og at det er margin til teksten som kommer under*/
.artikkelMainHeader {
  font-size: 3rem;
  margin-bottom: 10px;
}



/*DE 2 ØVERSTE TEKSTENE*/
/*Stillert teksten til å ligge til venstre, samt endret på tekststørrelse, marginer og paddinger*/
.ovretekst{
  margin-bottom: 50px;
  text-align: left;
  font-size: 1rem;
  padding: 10px;
}



/*NEDERSTE TEKSTEN*/
/*Stillert teksten til å ligge til venstre, samt endret på tekststørrelse, marginer og paddinger*/
.dailyGoal {
  text-align: left;
  font-size: 1rem;
  padding: 5px;
  margin-bottom: 20px;
}



/*////////////////////////////////////////////////////////////////HER LIGGER ALL CSS TIL SIDESEKSJONEN/////////////////////////////////*/
/*SIDESEKSJON*/
/*Gitt sideseksjonen en farge samt sørget for at den står fast på siden*/
#sideseksjon {
  grid-area: sideseksjon;
  width: 60%;
  margin: auto;
  margin-bottom: 30px;
  background-color: #001E3C;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}



/*///////////////////////////////////////UNDER HER LIGGER ALL CSS TIL FOOTER//////////////////////////////////////////////////////*/
/*SELVE FOOTEREN*/
/*Gitt footeren en bakgrunnsfarge og sørget for at den strekker seg over hele siden*/
#mainFooter{
  grid-area: footer;
  background-color: #001E3C;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  margin-top: 50px;
}



/*FOOTERTEKSTEN*/
/*Gitt footerteksten en størrelse i forhold til foreldreelementet*/
#footerTxt{
  font-size: 1.2rem;
  margin-top: 10px;
}








/*///////////////////////////////////////////////////////CSS TIL varresultat.html!!!!!!!!!!!!!!///////////////////////////////////////////////*/
/*MAINWRAPPEREN*/
/*Gitt containeren et grid slik at alt inhold inni blir griddet*/
.sjekkVaerContainer{
  display: grid;
  grid-template-rows: 200px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "varInfo varInfo"
  "varContainerInput varContainerOutput";
}



/*DEN ØVERSTE TEKSTEN*/
/*Gitt området en plass i griddet samt sørget for at den får margin og padding*/
.varInfo{
  grid-area: varInfo;
  margin-bottom: 40px;
  padding: 10px;
}



/*INPUTOMRÅDET (INPUTBOKSEN OG KNAPPEN)*/
/*Gitt området en plass i griddet samt gitt den en margin*/
.varContainerInput{
  grid-area: varContainerInput;
  margin-bottom: 100px;
}



.labelInput{
  font-size: 1.3rem;
}



/*INPUTBOKSEN*/
/*Gitt boksen en bakgrunnsfarge samt gitt den en størrelse og marginer. også stillert med radius*/
#txtBy {
  background: rgba(252,252,252,1);
  width: 50%;
  padding: 10px;
  font-size: 40px;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-top: 60px;
  color: black;
}



/*KNAPPEN*/
/*Her har jeg hentet ut en knapp fra siden http://buttonoptimizer.com/ . Det er derfor en enorm mengde kode*/
#btnSjekk {
  display: inline-block;
     text-align: center;
     vertical-align: middle;
     padding: 17px 30px;
     border: 1px solid #d2d2d6;
     border-radius: 10px;
     background: #c2c2c4;
     background: -webkit-gradient(linear, left top, left bottom, from(#c2c2c4), to(#adaddb));
     background: -moz-linear-gradient(top, #c2c2c4, #adaddb);
     background: linear-gradient(to bottom, #c2c2c4, #adaddb);
     text-shadow: #000000 1px 1px 1px;
     font: normal normal bold 20px arial;
     color: #ffffff;
     text-decoration: none;
 }
 #btnSjekk:hover,
 #btnSjekk:focus {
     background: #e9e9eb;
     background: -webkit-gradient(linear, left top, left bottom, from(#e9e9eb), to(#d0d0ff));
     background: -moz-linear-gradient(top, #e9e9eb, #d0d0ff);
     background: linear-gradient(to bottom, #e9e9eb, #d0d0ff);
     color: #ffffff;
     text-decoration: none;
 }
 #btnSjekk:active {
     background: #747476;
     background: -webkit-gradient(linear, left top, left bottom, from(#747476), to(#adaddb));
     background: -moz-linear-gradient(top, #747476, #adaddb);
     background: linear-gradient(to bottom, #747476, #adaddb);
 }
 #btnSjekk:before{
     content:  "\0000a0";
     display: inline-block;
     height: 24px;
     width: 24px;
     line-height: 24px;
     margin: 0 4px -6px -4px;
     position: relative;
     top: 0px;
     left: 0px;
     background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAACqklEQVRIibWVT0gUYRjGf++3y7gKShAJhdpSJBUUFKy4OzcRiogiogiiS0GHMCW6ZCQhdrEgsLr1D4kOQZc8FHRoC3w1SCKhQ0R/NArKLl1a3M2+t8MajNqK7dZzmZmH4ffMM99870AFynve5z2HF7snXkmACEmg4b8FmDEBfPx9XfiJM6EXiFc5uhcNGBkZwczqgTWAA96IyFQmk8F7+AH1ZhwS+FbwBIGjYMJZ4Axw7jdH5oOz2SxBELQDPUAm8hAzwNOqxKcLm7bs3wfsFwgADN4BJ4BmoFagN3D4BQGjo6POe98LnAYmgOsi8tzMALYCR0R8clXDjemVDTdrEBArUsyYAfZWOYaizDkBqtoBXAauAcfDMJye99oSZjYgwtHG5MVcbd2LuPeBq66e9LF4LjDjHcaGqhiFBQGqWg+8BR4De8IwnPnT2qiqA+4BO0UEM8O5gl++4sF04+orgXO5LQgtIqw2YzK6yAeAGqC7FBwgDEOvqt1Awcxui0jO+2Db1y+7j+W+N/vk2r666prJHjOSwES0wR1gaywWW9fa2lqKX1KqumO22XnnXE86nfZQ/PxQ1Y1Aq4h8LgcO4Jy7DzwUkVPe+yezTJyqJoEskDCzq2XRgXQ6jYh0mdlJEWkGsqqaFFW9BewSkVQmk3ldbkBUqtoMPAOGHLADuPuv4ABhGL4G7gLbHVAHTP0reERTwDIHvATaVLWiwRfV8PBwHGgDXjpgQERagH5VTVQKV9WEiPQDLcCAzO7MAaCDYq1XgBcpbhEzY6nnZuaA9UA9cMXMugRgbGyMfD7fDhwEmgBXZoAHPgC3giB4lEqlSvTsHG+jc7ytYp/SP5ye2eOjCv3iqFioyBTvHB+kc3xwyf48lWrQFwlr+jt/KQGXNkerfgD7G3+OfgFtCB4IB3X/bAAAAABJRU5ErkJggg==") no-repeat left center transparent;
     background-size: 100% 100%;
 }
/*/////////////HER STOPPER KNAPPEN!!!!!!///////////////////////////*/



/*OUTPUT DER INFOEN KOMMER*/
/*STillert området og gitt det en plass i griddet*/
.varContainerOutput{
  grid-area: varContainerOutput;
  padding: 10px;
  border: solid 1px black;
  background-color: rgba(240,248,255,0.5);
  border-radius: 5px;
}



/*OUTPUT BYNAVNET*/
/*Gitt teksten en størrelse i forhold til foreldreelementet samt gitt teksten en farge*/
#byNavn{
  font-size: 4rem;
  color: #001E3C;
}



/*VÆRBESKRIVELSETEKSTEN*/
/*Gitt teksten størrelse i forhold til foreldreelementet samt gitt teksten en farge*/
#vaer{
  font-size: 3rem;
  color: #001E3C;
}



/*TEMPERATURTEKSTEN*/
/*Gitt teksten størrelse i forhold til foreldreelementet samt gitt teksten en farge*/
#temperatur{
  font-size: 3rem;
  color: #001E3C;
}



/*VINDHASTIGHETTEKSTEN*/
/*Gitt teksten størrelse i forhold til foreldreelementet samt gitt teksten en farge*/
#windspeed{
  font-size: 3rem;
  color: #001E3C;
}



/*//////////////////////////////////////////////////////////////SELVE SIDENE SIN STILLERING STOPPER HER/////////////////////////////////////////*/


/*///////////////////////////MEDIAQUERY FOR STORE 4K SKJERMER!!!////////////////////////////////////////////////*/
@media screen and (min-width: 2000px) and (min-height: 1000px){





  /*Minsker teksten og tilpasser plasseringen*/
  #omOss{
    font-size: 2rem;
  }

  /*Minsker teksten og tilpasser plasseringen*/
  #sjekkVaret{
    font-size: 2rem;
  }

.omOsstxt{
  font-size: 1.7rem;
}


/*Endret på footeren*/
#mainFooter{
  padding-bottom: 50px;
  margin-top: 310px;
}
}



/*///////////////////////MEDIAQUERY FOR TABLET///////////////////////////////////////////////////*/
@media screen and (min-width: 426px) and (max-width: 769px){


  /*Minsker teksten og tilpasser plasseringen*/
  #omOss{
    font-size: 1.9rem;
    margin-top: 20px;
  }

  /*Minsker teksten og tilpasser plasseringen*/
  #sjekkVaret{
    font-size: 1.9rem;
    margin-top: 20px;
  }

  /*Økt bredden på innholdet slik at det dekker hele telefonen*/
  main{
    width: 80%;
  }

  /*Økt bredden på innholdet slik at det dekker hele telefonen*/
  #sideseksjon{
    width: 80%
  }

  /*Endret griddet til værsjekksidens artikkelinnhold*/
  .sjekkVaerContainer{
    display: grid;
    grid-template-rows: 200px 300px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "varInfo"
    "varContainerInput"
    "varContainerOutput";
  }

}




/*///////////////////////MEDIAQUERY FOR STORE MOBILER///////////////////////////////////////////////////*/
@media screen and (min-width: 376px) and (max-width: 600px) {
  /*Fjerner logoen øverst til høyre*/
#logoTop2{
  display: none;
}

/*NAVELEMENTENE*/
/*Minsker teksten og tilpasser plasseringen*/
#omOss{
  font-size: 1.4rem;
  margin-top: 30px;
    margin-right: 40px;
    margin-left: -50px;
}

/*Minsker teksten og tilpasser plasseringen*/
#sjekkVaret{
  font-size: 1.4rem;
  margin-top: 30px;
  margin-right: 30px;
}

/*Økt bredden på innholdet slik at det dekker hele telefonen*/
main{
  width: 100%;
}

/*Økt bredden på innholdet slik at det dekker hele telefonen*/
#sideseksjon{
  width: 100%
}


/*Økt størrelsen på artikkelteksten*/
.ovretekst{
  font-size: 1.5rem;
}


/*Økt størrelsen på artikkelteksten*/
.dailyGoal{
  font-size: 1.5rem;
}


/*Endret griddet til værsjekksidens artikkelinnhold*/
.sjekkVaerContainer{
  display: grid;
  grid-template-rows: 300px 300px 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
  "varInfo"
  "varContainerInput"
  "varContainerOutput";
}


/*Endret paddingen til outputen*/
.varContainerOutput{
  padding: 100px;
}


/*Endret på footeren*/
#mainFooter{
  padding-bottom: 80px;
  margin-top: 10px;
}
}



/*//////////////////////////////////////////MEDIAQUERY FOR SMÅ ENHETER/////////////////////////////////////////////////////////*/
@media screen and (min-width: 1px) and (max-width: 375px) {
  /*Fjerner logoen øverst til høyre*/
#logoTop2{
  display: none;
}

/*Endrer størrelsen på logoen i headeren*/
#logoTop1{
  max-width: 100px;
}

/*NAVELEMENTENE*/
/*Minsker teksten og tilpasser plasseringen*/
#omOss{
  font-size: 1.4rem;
  margin-top: 30px;
    margin-right: 40px;
    margin-left: -50px;
}

/*Minsker teksten og tilpasser plasseringen*/
#sjekkVaret{
  font-size: 1.4rem;
  margin-top: 30px;
  margin-right: 30px;
}

/*Økt bredden på innholdet slik at det dekker hele telefonen*/
main{
  width: 100%;
}

/*Økt bredden på innholdet slik at det dekker hele telefonen*/
#sideseksjon{
  width: 100%
}


/*Økt størrelsen på artikkelteksten*/
.ovretekst{
  font-size: 1.5rem;
}


/*Økt størrelsen på artikkelteksten*/
.dailyGoal{
  font-size: 1.5rem;
}


/*Endret griddet til værsjekksidens artikkelinnhold*/
.sjekkVaerContainer{
  display: grid;
  grid-template-rows: 300px 300px 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
  "varInfo"
  "varContainerInput"
  "varContainerOutput";
}


/*Endret paddingen til outputen*/
.varContainerOutput{
  padding: 100px;
}

/*Endret på footeren*/
#mainFooter{
  padding-bottom: 80px;
  margin-top: 10px;
}
}
